.centered-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: white;
}

.grid1 {
  height: 100%;
  padding: 0px;
}

.row1 {
  height: 50%;
  background: -moz-linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
  background: -webkit-linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
  background: linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
}

.button-container {
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
}