<ion-content [fullscreen]="true">
  <ion-grid class="grid1">
    <ion-row class="row1">
      <ion-col class="col1" size="12">
        <h1 class="centered-title">HOME</h1>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Bienvenido {{email}}</ion-card-title>
          </ion-card-header>

          <div class="button-container">
            <ion-button expand="block" color="tertiary" shape="round" (click)="Back()"> Cerrar Sesión </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>